html {
	height: 100%;
	overflow: hidden;
}
body {
	background: #303030 url("../images/minecraft.jpg") repeat-x 0 0;
	background-size: cover;
	animation: MinecraftBackground 165s linear infinite;
	text-align: center;
	font-family: Minecraft;
	text-shadow: 0.2vw 0.2vw 0 #383838;
	min-height: 100%;
}
main {
	padding: 8% 30% 0 30%;
}
#logo {
	margin-top: 5%;
	width: 50%;
}
#flashingtext {
	margin: -3.5% 0 0 47%;
	width: 40%;
	transform: rotate(-20deg);
	animation: FlashingText 0.5s ease-in-out infinite;
	color: #FFFF00;
	font-size: 2vw;
}
.button {
	margin: 0 auto 2% auto;
	background-color: #7D7D7D;
	color: #E0E0E0;
	font-size: 2.5vh;
  font-family: Minecraft;
	src: url("../fonts/minecraft.ttf");
}
.button_small {
	width: 49%;
	display: inline-block;
	margin-top: 5%;
}
button {
  font-family: Minecraft;
	src: url("../fonts/minecraft.ttf");
}
.button:hover {
	background-color: #7079AA;
	color: #FFFFA0;
  font-family: Minecraft;
	src: url("../fonts/minecraft.ttf");
}
.button span {
	vertical-align: middle;
    font-family: Minecraft;
	src: url("../fonts/minecraft.ttf");
}
.left {
	float: left;
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
footer .right {
	margin-right: 10px;
}
 @keyframes FlashingText {
 0% {
 transform: scale(1) rotate(-20deg);
}
 50% {
 transform: scale(1.05) rotate(-20deg);
}
 100% {
 transform: scale(1) rotate(-20deg);
}
}
 @keyframes MinecraftBackground {
 0% {
background-position: 0 0;
}
 100% {
background-position: -4096px 0;
}
}

button {
  width: 100%;
  text-align: center;
  font-family: minecraft;
  text-shadow: 0.2vw 0.2vw 0 #383838;

}
#game {
  position: fixed;
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
#x {
   z-index:2;
   color: red;
  }
audio {
  width: 1px;
  height: 1px;
  border-radius: 1000000000000000px;
  left: 0%;
  top: 0%;
  visibility: hidden;
 }