@font-face {
	font-family: Minecraft;
	src: url("../fonts/minecraft.ttf");
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	background: #303030 url("../images/minecraft.jpg") repeat-x 0 0;
	background-size: cover;
	animation: MinecraftBackground 165s linear infinite;
	text-align: center;
	font-family: Minecraft;
	text-shadow: 0.2vw 0.2vw 0 #383838;
	min-height: 100%;
}
main {
	padding: 8% 30% 0 30%;
}
img, main, div {
	image-rendering: pixelated;
}
a {
	color: #fff;
	text-decoration: none;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 1.2vw;
	color: white;
	margin-bottom: 0.4vw;
}
#logo {
	margin-top: 5%;
	width: 50%;
}
/* TODO: Make the flashing text scale down as more text is added */
#flashingtext {
	margin: -3.5% 0 0 47%;
	width: 40%;
	transform: rotate(-20deg);
	animation: FlashingText 0.5s ease-in-out infinite;
	color: #FFFF00;
	font-size: 2vw;
}
.button {
	/* padding: 0.2% 50vw; */
	padding: 1% 0 3% 0;
	margin: 0 auto 2% auto;
	background: #7D7D7D url("../images/buttons.png") no-repeat center;
	background-size: 100% 300%;
	color: #E0E0E0;
	font-size: 1.2vw;
	outline: 0.2vw solid #000;
	outline-offset: -0.2vw;
}
.button_small {
	width: 20%;
	display: inline-block;
	margin-top: 5%;
}
.button:hover {
	background: #7079AA url("../images/buttons.png") no-repeat bottom;
	background-size: 100% 300%;
	color: #FFFFA0;
}
.button:disabled, .button[disabled] {
	background: #272727 url("../images/buttons.png") no-repeat top;
	background-size: 100% 300%;
	color: #A9A9A9;
}
.button span {
	vertical-align: middle;
}
.left {
	float: left;
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
footer .right {
	margin-right: 10px;
}
 @keyframes FlashingText {
 0% {
 transform: scale(1) rotate(-20deg);
}
 50% {
 transform: scale(1.05) rotate(-20deg);
}
 100% {
 transform: scale(1) rotate(-20deg);
}
}
 @keyframes MinecraftBackground {
 0% {
background-position: 0 0;
}
 100% {
background-position: -4096px 0;
}
}
button {
  font-family: Minecraft;
	src: url("../fonts/minecraft.ttf");
}